body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:599px;
}
#u364 {
  position:absolute;
  left:19px;
  top:30px;
  width:1311px;
  height:599px;
}
#u365 {
  position:absolute;
  left:2px;
  top:292px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u366 {
  position:absolute;
  left:310px;
  top:474px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u368 {
  position:absolute;
  left:293px;
  top:510px;
  width:71px;
  height:16px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  position:absolute;
  left:900px;
  top:510px;
  width:171px;
  height:16px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u372 {
  position:absolute;
  left:878px;
  top:498px;
  width:220px;
  height:40px;
}
#u373 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u374 {
  position:absolute;
  left:878px;
  top:698px;
  width:367px;
  height:48px;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u376_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u376 {
  position:absolute;
  left:882px;
  top:752px;
  width:22px;
  height:2px;
}
#u377 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u378 {
  position:absolute;
  left:910px;
  top:752px;
  width:22px;
  height:2px;
}
#u379 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:113px;
  height:5px;
}
#u380 {
  position:absolute;
  left:950px;
  top:752px;
  width:110px;
  height:2px;
}
#u381 {
  position:absolute;
  left:2px;
  top:-7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  position:absolute;
  left:755px;
  top:788px;
  width:85px;
  height:32px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u384 {
  position:absolute;
  left:893px;
  top:754px;
  width:0px;
  height:0px;
}
#u384_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u384_seg1 {
  position:absolute;
  left:-99px;
  top:13px;
  width:103px;
  height:8px;
}
#u384_seg2 {
  position:absolute;
  left:-99px;
  top:13px;
  width:8px;
  height:21px;
}
#u385 {
  position:absolute;
  left:-98px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u386 {
  position:absolute;
  left:880px;
  top:790px;
  width:113px;
  height:32px;
  color:#008000;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  position:absolute;
  left:1032px;
  top:792px;
  width:71px;
  height:16px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u390 {
  position:absolute;
  left:921px;
  top:754px;
  width:0px;
  height:0px;
}
#u390_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u390_seg1 {
  position:absolute;
  left:-1px;
  top:30px;
  width:5px;
  height:8px;
}
#u391 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392 {
  position:absolute;
  left:1005px;
  top:754px;
  width:0px;
  height:0px;
}
#u392_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u392_seg1 {
  position:absolute;
  left:-4px;
  top:22px;
  width:71px;
  height:8px;
}
#u392_seg2 {
  position:absolute;
  left:59px;
  top:22px;
  width:8px;
  height:16px;
}
#u393 {
  position:absolute;
  left:-26px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:161px;
}
#u394 {
  position:absolute;
  left:882px;
  top:538px;
  width:1px;
  height:160px;
}
#u395 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
